<a href="https://colab.research.google.com/github/khush3012/Python-Lab/blob/main/Create_dataset_and_Load_dataset_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Experiment 10 (Create and Upload Dataset)

## Name : Khush Chauhan
## PRN : 25070123062
## Class : Entc - A3
## Date : 20th February, 2026

In [20]:
import pandas as pd

data ={
    "Number" : [101,102,103,104,105],
    "Gender" : ["Female","Male","Female","Male","Female"],
    "Department" : ["CS","IT","ECE","Aerospace","ECE"],
    "CGPA" : [8.9,6.7,6.3,9.6,7.3]
}
df = pd.DataFrame(data)

df.to_csv("student.csv", index = False)
df

   Number  Gender Department  CGPA
0     101  Female         CS   8.9
1     102    Male         IT   6.7
2     103  Female        ECE   6.3
3     104    Male  Aerospace   9.6
4     105  Female        ECE   7.3

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Number      5 non-null      int64
 1   Gender      5 non-null      object
 2   Department  5 non-null      object
 3   CGPA        5 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 292.0+ bytes

In [22]:
df.shape

(5, 4)

In [23]:
df.size

20

In [24]:
# Access information of Column Department

df["Department"]

0           CS
1           IT
2          ECE
3    Aerospace
4          ECE
Name: Department, dtype: object

In [25]:
# Access info of number 103

df[df["Number"] == 103]

   Number  Gender Department  CGPA
2     103  Female        ECE   6.3

In [26]:
# Find out data type of each column

df.dtypes

Number          int64
Gender         object
Department     object
CGPA          float64
dtype: object

In [27]:
# Perform mean, median and mode operation

print("Mean =" ,df.mean(numeric_only=True))

print("Median =" ,df.median(numeric_only=True))

print("Mode =" ,df.mode(numeric_only = True))

Mean = Number    103.00
CGPA        7.76
dtype: float64
Median = Number    103.0
CGPA        7.3
dtype: float64
Mode =    Number  CGPA
0     101   6.3
1     102   6.7
2     103   7.3
3     104   8.9
4     105   9.6

In [28]:
# Enter anew column grade


df["Grade"] = ["A","B","A","C","A"]
df

   Number  Gender Department  CGPA Grade
0     101  Female         CS   8.9     A
1     102    Male         IT   6.7     B
2     103  Female        ECE   6.3     A
3     104    Male  Aerospace   9.6     C
4     105  Female        ECE   7.3     A

In [29]:
# Delete gender column

df.drop("Gender", axis = 1)

   Number Department  CGPA Grade
0     101         CS   8.9     A
1     102         IT   6.7     B
2     103        ECE   6.3     A
3     104  Aerospace   9.6     C
4     105        ECE   7.3     A

In [30]:
# CGPA of topper

df["CGPA"].max()

9.6

In [31]:
# CGPA of PRN 105

df[df["Number"] == 105]["CGPA"]

4    7.3
Name: CGPA, dtype: float64

In [39]:
# Upload the dataset

import pandas as pd
import numpy as np

df = pd.read_csv('/content/Cars93.csv')
df

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,NaN,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0
...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,19.7,17,NaN,109,7,34.0,NaN
89,Volkswagen,Passat,Compact,20.0,21,NaN,134,5,31.5,14.0
90,Volkswagen,Corrado,Sporty,23.3,18,NaN,178,4,26.0,15.0
91,Volvo,240,Compact,22.7,21,Driver only,114,5,29.5,14.0
92,Volvo,850,Midsize,26.7,20,Driver & Passenger,168,5,30.0,15.0

In [40]:
df.size

930

In [42]:
df.head()

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,NaN,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0

In [43]:
df.tail()

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
88,Volkswagen,Eurovan,Van,19.7,17,NaN,109,7,34.0,NaN
89,Volkswagen,Passat,Compact,20.0,21,NaN,134,5,31.5,14.0
90,Volkswagen,Corrado,Sporty,23.3,18,NaN,178,4,26.0,15.0
91,Volvo,240,Compact,22.7,21,Driver only,114,5,29.5,14.0
92,Volvo,850,Midsize,26.7,20,Driver & Passenger,168,5,30.0,15.0

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Manufacturer    93 non-null     object
 1   Model           93 non-null     object
 2   Type            93 non-null     object
 3   Price           93 non-null     float64
 4   MPG.city        93 non-null     int64
 5   AirBags         59 non-null     object
 6   Horsepower      93 non-null     int64
 7   Passengers      93 non-null     int64
 8   Rear.seat.room  91 non-null     float64
 9   Luggage.room    82 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 7.4+ KB

In [47]:
df.describe()

,Price,MPG.city,Horsepower,Passengers,Rear.seat.room,Luggage.room
count,93.000000,93.000000,93.000000,93.000000,91.000000,82.000000
mean,19.509677,22.365591,143.827957,5.086022,27.829670,13.890244
std,9.659430,5.619812,52.374410,1.038979,2.989072,2.997967
min,7.400000,15.000000,55.000000,2.000000,19.000000,6.000000
25%,12.200000,18.000000,103.000000,4.000000,26.000000,12.000000
50%,17.700000,21.000000,140.000000,5.000000,27.500000,14.000000
75%,23.300000,25.000000,170.000000,6.000000,30.000000,15.000000
max,61.900000,46.000000,300.000000,8.000000,36.000000,22.000000