<a href="https://colab.research.google.com/github/khush3012/Python-Lab/blob/main/Pandas_Library_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Experiment 9 (Study of Pandas Library)
## Name: Khush Chauhan
##PRN : 25070123062
##Class : Entc - A3
##Date : 18/02/2026

In [2]:
# Pandas : Panel data
''' Used for:
Structured data
EDA
Data cleanng '''

' Used for:\nStructured data \nEDA\nData cleanng '

In [4]:
#Declaration of Pandas

import pandas as pd
s = pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [8]:
# Create a data frame

data = {
    "Name" : ["Glen","Philips","Kartik","Aaryan"],
    "Marks" : [85,90,67,38]
}
df = pd.DataFrame(data)
df

      Name  Marks
0     Glen     85
1  Philips     90
2   Kartik     67
3   Aaryan     38

In [9]:
df.head()
df.tail()

      Name  Marks
0     Glen     85
1  Philips     90
2   Kartik     67
3   Aaryan     38

In [10]:
#Find the structure of tje DataFrame

df.shape

(4, 2)

In [11]:
df.ndim

2

In [12]:
df.size

8

In [13]:
# Display column names

df.columns

Index(['Name', 'Marks'], dtype='object')

In [14]:
# Check data type of each column

df.dtypes

Name     object
Marks     int64
dtype: object

In [15]:
# Access indicidual column

df["Name"]

0       Glen
1    Philips
2     Kartik
3     Aaryan
Name: Name, dtype: object

In [16]:
df["Marks"]

0    85
1    90
2    67
3    38
Name: Marks, dtype: int64

In [17]:
#Access specific row

df.loc[1]

Name     Philips
Marks         90
Name: 1, dtype: object

In [21]:
#Add a new column

''' if marks 80-90-First Class
if marks>90-Distinction
if marks<80-Second class
if marks<50-Fail'''

df["Grade"] = ["Frist class","Distinction","Second class","Fail"]
df

      Name  Marks         Grade
0     Glen     85   Frist class
1  Philips     90   Distinction
2   Kartik     67  Second class
3   Aaryan     38          Fail

In [22]:
# Update the data in data frame
# Change Glen's marks to 88

df.loc[0,"Marks"] = 88
df

      Name  Marks         Grade
0     Glen     88   Frist class
1  Philips     90   Distinction
2   Kartik     67  Second class
3   Aaryan     38          Fail

In [23]:
# Delete a column

df.drop("Grade", axis = 1, inplace=True)
df

      Name  Marks
0     Glen     88
1  Philips     90
2   Kartik     67
3   Aaryan     38

In [24]:
# Perform basic statisical anlysis

mean1 = df["Marks"].mean()
mean1

np.float64(70.75)

In [25]:
mode1 = df["Marks"].mode()
mode1

0    38
1    67
2    88
3    90
Name: Marks, dtype: int64

In [26]:
min1 = df["Marks"].min()
min1

38

In [27]:
max1 = df["Marks"].max()
max1

90

In [31]:
# Apply Condition (filtering)
# Display students score more than 80

dis1 = df[df["Marks"] > 80]
dis1

      Name  Marks
0     Glen     88
1  Philips     90

In [32]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({'C1':[11,21,np.nan], 'C2':[12,np.nan,np.nan], 'C3':[13,23,33]})
df1

     C1    C2  C3
0  11.0  12.0  13
1  21.0   NaN  23
2   NaN   NaN  33

In [35]:
df1.isna() #Boolean function

      C1     C2     C3
0  False  False  False
1  False   True  False
2   True   True  False

In [37]:
df1.notna()

      C1     C2    C3
0   True   True  True
1   True  False  True
2  False  False  True

In [39]:
df1.isna().sum()

C1    1
C2    2
C3    0
dtype: int64

In [40]:
df1.dropna() #NAN rowas will be dropped

     C1    C2  C3
0  11.0  12.0  13