<a href="https://colab.research.google.com/github/khush3012/Python-Lab/blob/main/Study%20of%20Tuples_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Experiment 4
## Name : Khush
## PRN : 25070123062
## Batch : A-3

In [1]:
# Python Tuples
# Create Tuple and access tuple items
mytuple = ("Zebra", "Lion", "Rhino","Elephant")
print(mytuple)
print(mytuple[1])

('Zebra', 'Lion', 'Rhino', 'Elephant')
Lion

In [5]:
mytuple = ("Zebra", "Lion", "Rhino","Elephant")
# Tuples are immutable, so direct item assignment is not allowed.
# To "change" an item, you need to create a new tuple.
mytuple = mytuple[0:1] + ("Tiger",) + mytuple[2:]
print(mytuple)

('Zebra', 'Tiger', 'Rhino', 'Elephant')

In [7]:
mytuple = ("Zebra", "Lion", "Rhino","Elephant")
# Tuples are immutable and do not have an 'append' method.
# To 'add' an item, create a new tuple by concatenation.
mytuple = mytuple + ("Tiger",)
print(mytuple)

('Zebra', 'Lion', 'Rhino', 'Elephant', 'Tiger')

In [8]:
# Add to a tuple
mytuple = ("Zebra", "Lion", "Rhino","Elephant")
a = ("Tiger",)
mytuple += a
print(mytuple)

('Zebra', 'Lion', 'Rhino', 'Elephant', 'Tiger')

In [9]:
# Slicing of a tuple
mytuple = ("Zebra", "Lion", "Rhino","Elephant")
print(mytuple[2:5])
print(mytuple[-4:-2])
print(mytuple[-4:])
tuple1=[20,30,50,60,40,10,70]
print(tuple1[1:3])
print(tuple1[1:3:1])
print(tuple1[1:5:2])
print(tuple1[1:4:3])
print(tuple1[6:4:-2])
print(tuple1[4:6:-1])
print(tuple1[-2:-4:-2])

('Rhino', 'Elephant')
('Zebra', 'Lion')
('Zebra', 'Lion', 'Rhino', 'Elephant')
[30, 50]
[30, 50]
[30, 60]
[30]
[70]
[]
[10]

In [10]:
'''Students exam result stored in a tuple with three fixed field
Subject Name, Marks Obtained, and Grade'''
result = ("EDA",79,"A")
subject, marks, grade = result
print("Subject name :",subject)
print("Marks obtained :",marks)
print("Grade :",grade)
if result[1]>=75:
  print("Distinction")

Subject name : EDA
Marks obtained : 79
Grade : A
Distinction

In [12]:
'''Organization records a employee's daily attendance for a week using a tuple
P for present and A for absent'''
attendance=("P","P","P","A","A","P")
print("Total number of present days :",attendance.count("P"))
print("Total number of absent days :",attendance.count("A"))
if attendance.count("A")>0:
  print("Absent atleast once")

Total number of present days : 4
Total number of absent days : 2
Absent atleast once