<a href="https://colab.research.google.com/github/khush3012/Python-Lab/blob/main/Study%20of%20Lists%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Experiment 3

Name: Khush Chauhan

PRN : 25070123062

Batch : A3

Title : Studyof list and various operations on it

In [ ]:
# Python Lists
city_list = ["Paris","London","New York","Los Angeles","Zurich"]
print(city_list)

['Paris', 'London', 'New York', 'Los Angeles', 'Zurich']

In [ ]:
# The first item is 0 index in the code

In [ ]:
# List length
shoes = ["Jordans","Bottega","Adidas","Christian Dior","Birkenstock"]
print(len(shoes))

5

In [ ]:
# A list with strings, integers and boolean values
list1 = ["abc", 67, True, 40, "Female", 3+5j]
list1

['abc', 67, True, 40, 'Female', (3+5j)]

In [ ]:
#Access items
cologne = ["Paris","London","New York","Los Angeles","Zurich"]
print(city_list[2])

New York

In [ ]:
#Negative indexing
watches = ["Patek","Longines","Audemars","Richard Mille","Rado"]
print(watches[-5])
print(watches[-3:-1])
print(watches[-3:])

Patek
['Audemars', 'Richard Mille']
['Audemars', 'Richard Mille', 'Rado']

In [ ]:
# Slicing
food = ["Sushi","Pasta","Burrito","Pho","Chicks"]
print(food[0:3])
print(food[3:])

['Sushi', 'Pasta', 'Burrito']
['Pho', 'Chicks']

In [ ]:
# Change item value
drinks = ["Tea","Coffee","Mocha","Mojito"]
drinks[1]="Coconut water"
print(drinks)

['Tea', 'Coconut water', 'Mocha', 'Mojito']

In [ ]:
#Append items
cars = ["AMG","McLaren","Ferrari","Aston Martin"]
cars.append("Lamborghini")
print(cars)

['AMG', 'McLaren', 'Ferrari', 'Aston Martin', 'Lamborghini']

In [ ]:
# Insert items
companies = ["Goldman Sachs","Apple","Tesla","Morgan Stanley"]
companies.insert(2,"JP Morgan")
print(companies)

['Goldman Sachs', 'Apple', 'JP Morgan', 'Tesla', 'Morgan Stanley']

In [ ]:
#Extend list
cologne = ["Sauvage","Elixir","Jadore","Spice Bomb","Ombre","Black Opium"]
Deodrant = ["Nike","Adidas","Chanel","Guess"]
cologne.extend(Deodrant)
print(cologne)

['Sauvage', 'Elixir', 'Jadore', 'Spice Bomb', 'Ombre', 'Black Opium', 'Nike', 'Adidas', 'Chanel', 'Guess']

In [ ]:
#Search items
67 in [17,38]

False

In [ ]:
67 in [17,67,69,23,38,41,56,78,98]

True

In [ ]:
#Repetition
college= ["Stanford","USydney","UCLA","UCL"]
college*3

['Stanford',
 'USydney',
 'UCLA',
 'UCL',
 'Stanford',
 'USydney',
 'UCLA',
 'UCL',
 'Stanford',
 'USydney',
 'UCLA',
 'UCL']

In [ ]:
numbers = [10,20,30,40,50]
#Slicing examples
print("Elements from index 1 to 3:", numbers[1:3])
print("First 3 elements:", numbers[0:3])
print("Elements from index 2 onwards (Reverse Indexing:", numbers[-3:])
print("All elements:", numbers[:])

Elements from index 1 to 3: [20, 30]
First 3 elements: [10, 20, 30]
Elements from index 2 onwards (Reverse Indexing: [30, 40, 50]
All elements: [10, 20, 30, 40, 50]

In [ ]:
marks = [78,85,90,67,88]
print("Maximum mark:",max(marks))
print("Minimum marks",min(marks))
print("Sum of marks:",sum(marks))
print("Average of marks:",sum(marks)/len(marks))
print("Sorted marks:", marks.sort())
print(marks)

Maximum mark: 90
Minimum marks 67
Sum of marks: 408
Average of marks: 81.6
Sorted marks: None
[67, 78, 85, 88, 90]

In [ ]:
'''Grocery Shopping List
A user maintains a grocery for monthly shopping'''

grocery_list = ["Milk","Eggs","Chips Ahoy cookies","Wheat pasta","Mushrooms","Cheese"]
print("Create a grocery list:" ,grocery_list)
grocery_list.append("Lemons")
print("Add new items:" ,grocery_list)
grocery_list.remove("Cheese")
print("Remove an item:" ,grocery_list)
print("Final shopping list:", grocery_list)

Create a grocery list: ['Milk', 'Eggs', 'Chips Ahoy cookies', 'Wheat pasta', 'Mushrooms', 'Cheese']
Add new items: ['Milk', 'Eggs', 'Chips Ahoy cookies', 'Wheat pasta', 'Mushrooms', 'Cheese', 'Lemons']
Remove an item: ['Milk', 'Eggs', 'Chips Ahoy cookies', 'Wheat pasta', 'Mushrooms', 'Lemons']
Final shopping list: ['Milk', 'Eggs', 'Chips Ahoy cookies', 'Wheat pasta', 'Mushrooms', 'Lemons']

In [ ]:
# A person stores phone contacts in a list

contacts = ["Shanaya","Anushka","Preet","Kshitij","Ryan","Sydney","Teddy","Jenna"]
print("Create a contact list:", contacts)
contacts.append("Vishvam")
print("Add new contact:", contacts)
contacts.remove("Ryan")
print("Remove contact:", contacts)
contacts.sort()
print("Sorted contacts:", contacts)

Create a contact list: ['Shanaya', 'Anushka', 'Preet', 'Kshitij', 'Ryan', 'Sydney', 'Teddy', 'Jenna']
Add new contact: ['Shanaya', 'Anushka', 'Preet', 'Kshitij', 'Ryan', 'Sydney', 'Teddy', 'Jenna', 'Vishvam']
Remove contact: ['Shanaya', 'Anushka', 'Preet', 'Kshitij', 'Sydney', 'Teddy', 'Jenna', 'Vishvam']
Sorted contacts: ['Anushka', 'Jenna', 'Kshitij', 'Preet', 'Shanaya', 'Sydney', 'Teddy', 'Vishvam']

In [ ]:
#Slicing Practice
list1=[20,30,50,60,40,10,70]
print(list1[1:3])
print(list1[1:3:1])
print(list1[1:5:2])
print(list1[1:4:3])
print(list1[6:4:-2])
print(list1[4:6:-1])
print(list1[-2:-4:-2])

[30, 50]
[30, 50]
[30, 60]
[30]
[70]
[]
[10]

In [1]:
# Temperature Analysis
temperature=[7,11,20,19,25,14,9,10,21,5]
print("Temprature of first five days :",temperature[0:5],"\nTemprature of last 5 days :",temperature[-5:])
print("Highest temperature :",max(temperature))
print("Lowest temperature :",min(temperature))
print("Average of the temperature :",sum(temperature)/len(temperature))

Temprature of first five days : [7, 11, 20, 19, 25]
Temprature of last 5 days : [14, 9, 10, 21, 5]
Highest temperature : 25
Lowest temperature : 5
Average of the temperature : 14.1

In [2]:
# Daily expense tracker

expense = [100,250,150,275,300,500,1000]
print("Total expense :",sum(expense))
print("Average expense :",sum(expense)/len(expense))
print("Maximum expense :",max(expense))
print("Minimum expense :",min(expense))

Total expense : 2575
Average expense : 367.85714285714283
Maximum expense : 1000
Minimum expense : 100