<a href="https://colab.research.google.com/github/khush3012/Python-Lab/blob/main/Study%20of%20Sets%20and%20Dictionaries%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Experiment 5
## Name : Khush
## PRN : 25070123062
## Batch : A-3
## Date : 28/01/2026

# Set

In [ ]:
#Creation of set
thisset = {"AMG","Audi","Ferrari","Williams Racing"}
print(thisset)

{'Williams Racing', 'AMG', 'Audi', 'Ferrari'}

In [ ]:
#Duplicates not allowed
thisset = {"AMG","Audi","Ferrari","Williams Racing","AMG"}
print(thisset)

{'Williams Racing', 'AMG', 'Audi', 'Ferrari'}

In [ ]:
#The values True and 1 are considered the same value in sets, and are treated as duplicates
thisset = {"AMG",True,2,"Ferrari",1,"Red Bull"}
print(thisset)

{True, 2, 'Red Bull', 'AMG', 'Ferrari'}

In [ ]:
#A set with strings, integers and boolean values
set1 = {"abc", 67, True, False, 6.66}
set1

{6.66, 67, False, True, 'abc'}

In [ ]:
#TO check membership
set2 = {"Milk","Soy Milk","Yoghurt"}

print("Yoghurt" in set2)
print("Corn" in set2)

True
False

In [ ]:
#Once a set is created you cannot replace its items, but you can add or delete its items
set3 = {"Harvard","MIT","Stanford"}
set3.add("Oxford")
set3

{'Harvard', 'MIT', 'Oxford', 'Stanford'}

In [ ]:
# Remove items
set3.remove("MIT")
set3

{'Oxford', 'Stanford'}

In [ ]:
# Set operations
A = {33,44,55,66}
B = {44,55,88,77}
print("Union:" , A|B)
print("Intersection", A&B)
print("Difference", A-B)
print("Symmetric Difference", A^B)

Union: {33, 66, 44, 77, 55, 88}
Intersection {44, 55}
Difference {33, 66}
Symmetric Difference {33, 66, 77, 88}

In [ ]:
#Python frozen set
x = frozenset({"Coke","Sprite","Monster",'RedBull'})
print(x)
print(type(x))

frozenset({'Sprite', 'RedBull', 'Monster', 'Coke'})
<class 'frozenset'>

In [ ]:
#Adding or removing elements is not allowed in frozen set

In [ ]:
''' Problems Statement 1: Unique Event Participants
A college event has a list of students who registered multiple times by mistake
Write a program using set to store particiants Names and display only unique participants'''

Participants = [
  "Bob",
  "Bobby",
  "Mille",
  "Sadie",
  "Hopper",
  "Sadie",
  "Winona",
  "Bob"
]
unique_participants = set(Participants)
print(unique_participants)

{'Bobby', 'Mille', 'Hopper', 'Bob', 'Sadie', 'Winona'}

In [ ]:
''' Problem Statement 2: Three  students choose elective subjects.
Find the common subjetcs chosen by all students using set operations.'''

electives_of_student1 = {"German","Finance","Psychology","Geography","Bee keeping"}
electives_of_student2 = {"German","Theatre","Finance","History","French","Engineering graphics"}
electives_of_student3 = {"German","Spanish","Geography","Political science","Engineering graphics","Finance"}

common_subjects = electives_of_student1 & electives_of_student2 & electives_of_student3
print("Their common subjects is/are:" ,common_subjects)

Their common subjects is/are: {'German', 'Finance'}

In [ ]:
''' Problem Statement 3: One set contains students in Cricket club and another
in football club. Find the students who are:
(1) Both clubs
(2) Only one club'''

Cricket_club = {"Kohli","Rohit","Glen Philips","Starc","David","Joe Root","Ronaldo"}
Football_club = {"Messi","Harry Kane","David","Benzama","Ronaldo","MBappe"}

both_clubs = Cricket_club & Football_club #Intersection
only_one_club = Cricket_club ^ Football_club # Symmetric difference

print("Students in both club: ",both_clubs)
print("Students in only one club: ",only_one_club)

Students in both club:  {'David', 'Ronaldo'}
Students in only one club:  {'Benzama', 'Glen Philips', 'Starc', 'Harry Kane', 'Rohit', 'MBappe', 'Messi', 'Kohli', 'Joe Root'}

In [ ]:
''' Problem Statement 4: Absent students
Given a set of all students and a set of present students, find the absent student'''

All_students = {"Rohit", "Ananya","Sara","Kriti","Ajay","Tanisha","Tara","Akash"}
Present_students = {"Ananya","Sara","Kriti","Ajay","Tanisha"}

Absent_students = All_students - Present_students
print("Absent students are: ",Absent_students)

Absent students are:  {'Rohit', 'Akash', 'Tara'}

In [ ]:
''' Problem Statement 5: Remove invalid entries.
A set contains valid course codes.
Remove a discontinued course code from the set.'''

course_codes = {"CS101","CS102","CS10","CS67","CS185"}
discontinued = "CS67"

course_codes.discard(discontinued)
print(course_codes)

{'CS101', 'CS10', 'CS185', 'CS102'}

#Dictionaries

In [ ]:
# Creation of dictionary

thisdict = {
    "Brand": "Mercedes",
    "Model": "G63",
    "Year" : 2023
}
print(thisdict)

{'Brand': 'Mercedes', 'Model': 'G63', 'Year': 2023}

In [ ]:
# Dictionary takes lastest value given for key. It wil not allow duplications.

thisdict =  {
    "Brand": "Mercedes",
    "Model": "G63",
    "Year" : 2023,
    "Year" : 2024
}
print(thisdict)
print(type(thisdict))

{'Brand': 'Mercedes', 'Model': 'G63', 'Year': 2024}
<class 'dict'>

In [ ]:
# Changing values in dictionary

car = {
    "Brand": "MCLaren",
    "Model": "GT",
    "Year" : 2022
}

x = car.values()
car["color"]= "Orange"
print(x)

dict_values(['MCLaren', 'GT', 2022, 'Orange'])

In [ ]:
student = {
    "Roll no": 25070123062,
    "Name": "Khush",
    "Branch": "ENTC",
    "Division": "A3"
}
print(student["Branch"])

ENTC

In [ ]:
# Adding and updating elements

student["Year"] = "First"
student["House"] = "Ruby"

print(student)

{'Roll no': 25070123062, 'Name': 'Khush', 'Branch': 'ENTC', 'Division': 'A3', 'Year': 'First', 'House': 'Ruby'}

In [ ]:
# Removing elements
student.pop("Division")
print("After removing:", student)

After removing: {'Roll no': 25070123062, 'Name': 'Khush', 'Branch': 'ENTC', 'Year': 'First', 'House': 'Ruby'}

In [2]:
''' Problem Statement 1:
A dictionary stores product names and their prices. Write a Python program to
update the price of the given product.'''

Products = {"Eggs": 72 , "Milk can": 250 , "Monster": 299 ,"RedBull": 149}
print("Purchased items are: ", Products)
Products["RedBull"] = 169
print("Updated items are: ", Products)

Purchased items are:  {'Eggs': 72, 'Milk can': 250, 'Monster': 299, 'RedBull': 149}
Updated items are:  {'Eggs': 72, 'Milk can': 250, 'Monster': 299, 'RedBull': 169}

In [7]:
''' Problem statement 2:
Write a python program tosearch for a student's marks using the nakme.
If the student is not found, display a suitable message'''

student_marks = {"Tolly": 89, "Molly": 67, "Holly": 98, "Solly": 75, "Bronco": 83}
student_name = input("Enter the student's name: ")
if student_name in student_marks:
    marks = student_marks[student_name]
    print("Marks of the required student are: ", student_marks[student_name])
else:
    print("Student doesn't exists")

  # We can also use print(marks.get(name,"Student not found")) ("get" function)

Enter the student's name: farhan
Student doesn't exists

In [17]:
''' Problem statement 3:
Write a python program to validateuser login'''

AppleID = {"Username": "Tim Cook",
           "Password": "timlovescooking",
           "Two factor authentication": 1738
           }
Username = input("Enter your username: ")
Password = input("Enter your password: ")
Two_factor = int(input("Enter your two factor authentication: "))
if Username == AppleID["Username"] and Password == AppleID["Password"] and Two_factor == AppleID["Two factor authentication"]:
  print("You have successfully logged in")
else:
  print("Login unsuccessful")

Enter your username: Tim Cook
Enter your password: timlovescooking
Enter your two factor authentication: 1738
You have successfully logged in

In [20]:
 '''Problem statement 4:
 Write a python program to find the student who scores highest marks'''

Marks = {
    "Akshay": 25,
    "Alia": 2,
    "Kartik": 77,
}
topper = max(Marks, key=Marks.get)
print("The topper is: ", topper)
print("Marks of topper are:", Marks[topper])

The topper is:  Kartik
Marks of topper are: 77