<a href="https://colab.research.google.com/github/khush3012/Python-Lab/blob/main/Loops_in_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Experiment 7 (Loops in Python)
##Name: Khush Chauhan
##PRN: 25070123062
##Batch: A3
##Date : 06/02/2026

#While Loop

In [ ]:
#While loop
#Used when number of iterations are not know
Syntax
while condition:
  statement(s)

In [ ]:
# Print numbers 1 to 5

i = 1
while (i<=5):
  print(i)
  i = i + 1

1
2
3
4
5

In [ ]:
# Take input from user, till what iteration the number will be printed? (print output in a single line)

n = int(input("Enter the number of iteratons: "))
i = 1
while i<=n:
  print(i, end = " ")
  i = i+1

Enter the number of iteratons: 8
1 2 3 4 5 6 7 8

In [ ]:
# Factorial of a number

n = int(input("Enter the number: "))
fact = 1
N = n
while n >= 1:
  fact = fact * n
  n = n - 1
print("Factorial is: ", fact)

Enter the number: 5
Factorial is:  120

In [ ]:
# Fibonacci Series using while loop

n = int(input("Enter number of terms: "))
a = 0
b = 1
i = 0
while i < n:
    print(a, end=" ")
    c = a + b
    a = b
    b = c
    i = i + 1

Enter number of terms: 10
0 1 1 2 3 5 8 13 21 34

In [ ]:
# Reverse a number

num = int(input("Enter the number: "))
rev = 0

while num > 0:
  digit = num % 10
  rev = rev * 10 + digit
  num //= 10

print("Reversed number : ", rev)

Enter the number: 1738
Reversed number :  8371

In [ ]:
# Check Palindrome of a number or string

string = input("Enter a string: ")
rev = string[::-1]
if string == rev:
  print("Palindrome")
else:
  print("Not Palindrome")

Enter a string: 121
Palindrome

In [ ]:
# Count digits in a number

num = int(input("Enter a number: "))
count = 0

while num > 0:
  count = count + 1
  num //= 10

print("Number of digits: ", count)

Enter a number: 25698
Number of digits:  5

#Break Statement

In [ ]:
#With the break statement we can stop the loop even if the while condition is true

In [ ]:
#Exit the loop when i = 3

i = 1

while (i<6):
  print(i)
  if i == 3:
    break
  i = i + 1

1
2
3

In [ ]:
# Search an element in a list

prn_nos = ["25070123066","25070123062","25070123066","25070123053","25070123055","25070123158","25070123159","25070123060","25070123112","25070123064"]
PRN = input("Enter a PRN number: ")

i = 0
length = len(prn_nos)


while i < length:
    if prn_nos[i] == PRN:
      print("PRN found at index: ", i+1)
      break
    i = i + 1
else:
    print("PRN Not found")

Enter a PRN number: 25070123063
Not found

#While - Continue

In [ ]:
# Continue skips the remaining statements of the current iteration and jumps back to the while condition

In [ ]:
# Print numbers from 1 to 10 (skip 5)

i = 1
while(i<=10):
  if i == 5:
    i = i + 1
    continue
  print(i, end = " ")
  i = i + 1

1 2 3 4 6 7 8 9 10

In [ ]:
# Print only odd numbers between 1 to 10

i = 1
while (i<10):
  if i % 2 == 0:
    i = i + 1
    continue
  print(i, end = " ")
  i = i + 1

  # For even numbers we will write i % 2 != 0

1 3 5 7 9

# For Loops

In [ ]:
# Print 1 to 6

for i in range(1,7):
  print(i, end = " ")

1 2 3 4 5 6

In [ ]:
# Print even numbers from 1 to 10 using range function

for x in range(2,11,2):
  print(x, end = " ")

2 4 6 8 10

In [ ]:
# Sum of first N numbers

n = int(input("Enter a number: "))
total = 0

for i in range (1,n+1):
  total = total + i
print("Sum = ", total)

Enter a number: 25
Sum =  325

In [ ]:
# Nested for loop

for i in range (1,4):
  for j in range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
# 3 x 3 matrix display

A = [ [1,2,3],
      [4,5,6],
      [7,8,9]]

for i in range(3):
  for j in range(3):
    print(A[i][j], end = " ")
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
# Multiplication of 3 x 3 matrix]

input =

A = [[1,2,3] , [1,2,3] , [1,1,1]]
B = [[1,1,1] , [1,2,3] , [1,1,3]]


Result = [[0, 0, 0],
          [0, 0, 0],
          [0, 0, 0]]

for i in range(3): # Rows of A
  for j in range(3): # Columns of B
    for k in range(3): # Either columns of A or Rows of B depending upon the situation
      Result[i][j] += A[i][k] * B[k][j]

print("Product of matrices: ", Result)

for row in Result:
  print(row)

Product of matrices:  [[6, 8, 16], [6, 8, 16], [3, 4, 7]]
[6, 8, 16]
[6, 8, 16]
[3, 4, 7]

In [ ]:
# Program to accept the three digits and print all possible combinations

input_1 = str(input("Enter a number: "))
input_2 = str(input("Enter a number: "))
input_3 = str(input("Enter a number: "))

d = [input_1,input_2,input_3]

for i in range(3):
  for j in range(3):
    for k in range(3):
      if (d[i]!=d[j]) and (d[i]!=d[k]) and (d[j]!=d[k]):
        print(d[i],d[j],d[k])

Enter a number: 0
Enter a number: 6
Enter a number: 7
0 6 7
0 7 6
6 0 7
6 7 0
7 0 6
7 6 0

In [ ]:
# Check whether the number is an Armstrong number or not

num = str(input("Enter a number "))
length = len(num)
sum = 0

for i in range(length):
  sum =sum + int(num[i])**length

if sum == int(num):
  print("Armstrong Number")

else:
  print("Not an Armstrong Number")

Enter a number 153
Armstrong Number

In [ ]:
# Check whether the number is prime or not

num = int(input("Enter a number: "))

for num in range (2,):
  for i in range (2,num):
    if num % i == 0:
      break
    else:
      print(num)

Enter a number: 3

In [ ]:
# Make inverted pyramid

n = 5
for i in range(n):
  print(i*' ', (n-i)* ' $')

  $ $ $ $ $
   $ $ $ $
    $ $ $
     $ $
      $

In [ ]:
# Make a pyramid

n = 5
for i in range(n):
  print((n-i)*' ', (i)* ' $')

      $
     $ $
    $ $ $
   $ $ $ $

In [ ]:
# Make a right angled triangle

n = 5
for i in range(5,0,-1):
  print(" ", (n-i)* ' *')

   *
   * *
   * * *
   * * * *

In [4]:
# FLoyd's Traingle

n = int(input("Enter the number of rows: "))
number = 1

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(number, end=" ")
        number += 1
    print()

Enter the number of rows: 5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [1]:
# Number triangle

n = 5

for i in range(1, n + 1):
    for j in range(i):
        print(i, end="")
    print()

1
22
333
4444
55555